/*Background*/
.content-wrapper{
	background-color:#323372;
}

/*hide page header*/
.page-header{
	display:none;
}

/*main content area*/
#content{
	margin: 10px 0;
	background:transparent;
	border:none;
}

article .main-content p{
	color:#fff;
}

.summary{
	color:#fff;
}



#videoContainer{
	width: 100%;
	position: relative;
	display: block;
	max-height: 530px;
}

#videoContainer video{
	width:100%;
	/*opactity:.8;*/
	position:relative;
	
}

#videoContainer embed{
	width:100%;
	/*opactity:.8;*/
	position:relative;
	display:none;
	
}

article.base{
	margin-top:0px !important;
}

#hashtag{
	position:absolute;	
}

.hashtag{
	color: #E86D1F;
	font-size: 2em;
	margin-top: -10px;
	font-weight: 600;
	line-height: .5em;
}

#descr{
	position: relative;
	left: 345px;
	max-width: 560px;
	/*IE. shoot me. */
	left:360px\0;
	font-family:sans-serif\0;
	
}

#join{
	color:#fff;
	font-style:italic;
	position:relative;
	padding: 5px 0 30px 0;
	
}

#join > * {
    position: absolute;
    right: 0px;
}

#join-buttons{
	display:inline;
			
}
#join-buttons img{
	width: 25px;
	height: 25px;
	top: -2px;
	position: relative;
	padding: 0 2px;
}

#action-buttons{
	font-style: normal;
}
#action-buttons a{
	font-weight:600;
	border:1px solid white;
	border-radius:3px;
	color:#fff;
	text-transform:uppercase;
	padding:2px 0px 3px 10px;
	margin:2px;
	text-align:center;
}
#action-buttons a::after{
	font-size: 1.3em;
    content: "\25b8";
    vertical-align:middle;
    position: relative;
	bottom:2px;
    padding: 5px;
    
}
#action-buttons a:hover{
	border:1px solid #F6Be00;
}
#action-buttons a:first-child{
	background:#008EA0;	
}

#action-buttons a:last-child{
	background:#E86D1F;	
}




/*mobile queries */
@media screen and (max-width:1000px){
/* */	
	#hashtag{
		position:relative;
		margin: 10px 0;
		
	}
	
	#descr{
		left:0px;
	}
	/*
	#videoContainer video{
		display:none;
	}
	
	#videoContainer embed{
		display:inline;
	}*/
	
	
	#join{
		width: 100%;
		text-align: center;
	}
	
	#join > * {
		position: relative;
		margin: 0 auto;
		text-align: center;
	}
	
	#join-buttons{
		line-height:2em;
		
	}
	
	#action-buttons {
		display: block;
	}
	
}

@media screen and (max-width:470px){
	#hashtag{
		font-size:.7em;
	}
	
	#join-buttons{
		font-size:.9em;
	}
}