/**** TEMPLATE OVERRIDES ***/
/* uncomment for full width.
body{background-color:#fff;}


.content-wrapper .centered {
    width: 100%;
    max-width: 100%;
}



.content-wrapper{
	background-color:#fff;
}
*/

.media {
    display: none !important;
}
/*hide page header*/

.page-header{
	display:none;
}

/*main content area*/
#content{
	margin:0;
	background:transparent;
	border:none;
}

article .main-content p{
	color:#fff;
}

.summary{
	color:#fff;
}

article.base{
	margin-top:-30px !important;
}

.interior.full-width article {
    width: 100%;
}

.interior.full-width article .main-content {
    width: 100%;
}

.interior article{
	margin:0 !important;
}

.summary, .media{
	margin:0 !important;
}
/***CUSTOM RULES***/


.splash-container{
	max-width:100%;
}

.splash-section{
	height: 560px;
	position: relative;
	overflow: hidden;
}

.row {
    max-width: 1000px;
    margin: 0 auto;
	height:100%;
	display: -webkit-flex;
    display: flex;
}
.col{
	margin: 0 30px;
}
.noshow{
	display:none;
	z-index:-1000;
}

#s1col1{
	display:inline;
	width:50%;
	max-width:500px;
}
#s1col2{
	display:inline;
	margin: 0 15px;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}
#s1col2 img{
	width:auto;
	height:100%;
	max-width:100%;
}

#s1{
	background: -webkit-linear-gradient(left, #b77014 0%, #f8971d 25%, #f8971d 75%, #b77014 100%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #b77014 0%, #f8971d 25%, #f8971d 75%, #b77014 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #b77014 0%, #f8971d 25%, #f8971d 75%, #b77014 100%); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, #b77014 0%, #f8971d 25%, #f8971d 75%, #b77014 100%); /* Standard syntax (must be last) */
}

#s1h1 {
    color: #fff;
    font-size: 2.6em;
    font-weight: 700;
	transition: font-size .2s;
	line-height: 20px;
	margin-top: 80px;
}
#s1h2 {
   color: #fff;
	font-size: 2.6em;
	font-weight: 400;
	transition: font-size .2s;
	line-height: 20px;
}

#s1p1 {
    color: #333;
}

/**s2**/

#s2{
	background-color:#fff;
	height:345px;
	text-align:center;
}

#s2row{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	min-height:100%;
}

#s2col1{
	-webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 240px;
    -ms-flex: 0 1 240px;
    flex: 0 1 240px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#s2col2{
	-webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 0 1 240px;
    -ms-flex: 0 1 240px;
    flex: 0 1 240px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
	
}

#s2col3{
	-webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 240px;
    -ms-flex: 0 1 240px;
    flex: 0 1 240px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.s2h{
	font-size:1.5em;
	color:#008EA0;
	font-weight:600;
	line-height:.5em;
}

.s2p{
	color:#555 !important;
}

#s2 iframe {
    display: block;
    margin: 25px auto !important;
}

/*end s2*/


.action-light.action-blue {
    background-color: #008ea0;
    font-size: 23px;
    font-weight: 700;
    padding: 16px 15px;
    position: absolute;
    bottom: 80px;
    transition: all .2s;
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#arrow-blue{
	font-size: 1.5em;
	color: #fff;
	background: #007281;
	right: -44px;
	right:-42px\0;
	top: 0;
	height: 50px;
	padding-left: 15px !important;
	line-height: 52px;
}




#s3{
	background-image: linear-gradient(to right, rgba(240,234,218,1) 0%, rgba(240,234,218,.8) 25%, rgba(240,234,218,.8) 75%, rgba(240,234,218,1) 100%),
					url('http://act.pih.org/page/-/images/campaigns/dpmys/Peru_0615_ProteccionSocial_WRodriguez_2_scaled_desat.jpg');
						
	height:520px;
	text-align: center;
	padding:40px;
}

#s3 .s3-title{
	color:#008Ea0;
	font-size:1.2em !important;
	font-weight:700;
}

#s3 .s3-text{
	color:#444;
	font-size:1em;
	font-weight:500;
}
#s3 .s3-button{
	position: relative;
	top: 30px;
	font-size: 23px;
	font-weight: 700;
	padding: 16px 15px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	transition: all .2s;
	background-color: #F8971D;
}

#arrow-orange{
	font-size: 1.5em;
	color: #fff;
	background: #B77014;
	right: -41px;
	right:-42px\0;
	top: 0;
	height: 46px;
	padding-left: 15px !important;
	line-height: 52px;
}

.action-light:hover span {
    background: #B77014;
}

#s4{
	background:#F8971D;
	height:250px;
}

#s4 img{
	height:100%;
}

#s4col1 {
	-webkit-flex: 2 1 auto;
	-webkit-align-self: center;
	flex: 2 1 auto;
	align-self: center;
	
	text-align:center;
}
#s4t1{
	color:#fff;
	font-size:1.5em;
	font-style:italic;
	transition:all .2s;
}

#s4t2{
	color:#fff;
	font-size:1em;
	font-weight:600;	
}

#s4col2 {
    display: inline;    
	-webkit-flex: 0 0 auto;
    -webkit-align-self: auto;
	flex: 0 0 auto;
    align-self: auto;
}
#s4 img{
	height: 250px;
	-webkit-align-self: flex-end;
	align-self: flex-end;
	position: relative;
	left: 0px;
}



#s5{
	background-color:#fff;
	height:200px;
	text-align:center;
	padding:20px;
}

#s5 .row{
	display:block;
		
}

#s5 p{
	color:#555;
}

#s5 span{
	font-size: 3em;
	font-weight: 700;
}

#s5t1{
	color:#F8971D;
	
}

#s5t2{
	color:#008ea0;
	
}

#s5-buttons{
	margin:30px auto;
}

#s5 a{
	
	display: inline;
	position: relative;
	margin: auto 5px;
	width: 100px;
	padding: 15px;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
}
	
.fb-share{
	background:#323372;
}

.tw-share{
	background:#008ea0;
	
}
	
	/*.arrow-blue::after{
	content: "\25B8";
}*/

/*mobile queries */
@media screen and (max-width:1000px){
	
	#s1{
		height:420px;
	}

	
	#s1h1 {
		color: #fff;
		font-size: 1.7em;
		font-weight: 700;
		transition: font-size .2s;
		line-height: 10px;
		margin-top: 80px;
	}
	
	#s1h2 {
	    color: #fff;
		font-size: 1.7em;
		font-weight: 400;
		transition: font-size .2s;
		line-height: 10px;
	}

	#s1col2 img{
		width:100%;
		height:auto;
		transition: width .2s;
	}

	#s1p1{
		font-size: .9em;
		transition: font-size .2s;
	}

	.action-light.action-blue {
		font-size:1em;
		padding:10px;
		transition:all .2s;	
		bottom: 60px;

	}

	#s3{
		height:550px;
	}
	
	#s3 .s3-button {
		font-size:1em;
		padding:11px;
		transition:all .2s;	
		bottom: 60px;

	}
	#arrow-blue {
		font-size: 16px;
		right: -38px;
		height: 16px;
		padding: 13px !important;
		transition:all .2s;
		line-height: 1em;
		
	}
	
	#arrow-orange {		
		font-size: 16px;
		right: -35px;
		height: 15px;
		padding: 13px !important;
		transition: all .2s;
		line-height: 1.5em;
		
	}
}

@media screen and (max-width:768px){
	
	.content-wrapper .centered {
		width: 100%;
		max-width: 100%;
	}
	.row{
		
	}
	
	#s1{
		height:350px;
	}
	
	#s1h1 {
		font-size: 2.3em;
		
	}
	
	#s1h2 {
		font-size: 2.3em;		
	}
	
	#s1col2 {
		display: none;	
	}

	#s1 .row{
		display:block;		
		transition:all .2s;
		width:80%;
		margin:0 auto;
	}
	
	#s1col1{
		display:inline-block;
		width:100%; 
		/* margin:0 auto; */
		transition:all .2s;
		
	}
	
	.action-light.action-blue {
		bottom: 15px;

	}
	
	#arrow-blue{
		right:-36px;
	}
	
	.col{
		margin:0;
	}
	
	#s2{
		height:470px;
	}
	
	#s2row{
		/* text-align:left; */
		width:80%;
		margin:0 auto;
	}
	#s2 iframe {
		position: absolute;
		width: 100%;
		left: 0;
	}
	
	#s3{
		height:460px;
		padding: 10px 0;
	}
	
	#s3row {
		margin: 0 20px;
	}
	
	.action-light.action-orange {
		bottom: 15px;

	}
	
	#arrow-orange{
		right:-35px;
	}
	
	#s3 .s3-title{
		font-size:1em !important;
		margin-bottom: 0px;
		
	}
	#s3 .s3-text{
		font-size:.9em;
		
	}
	#s4{
		height:500px;
	}
	#s4 .row{
		display:block;
		width:80%;
		margin:0 auto;
		
	}
	#s4col1{
		padding-top:10px;
	}
	#s4col2{
		width:250px;
		margin:0 auto;
	}
	
	#s4 img{
		height:auto;
		width:100%;
	}
	#s4t1{
		font-size:1.2em;
		transition:all .2s;
	}
	
	#s5{
		height:250px;
	}
	
	#s5 span {
		font-size: 2.5em;
	}
	
	#s5 p{
		font-size:.8em;
	}
	
	#s5 a{
		display:block;
		width:auto;
		margin:5px;
		
	}

	.tw-share img{
		width:30px;
		margin:-5px;
	}
}

@media screen and (max-width:480px){
	.content-wrapper .centered {
		margin:0;
		
	}
	
	#s1h1{
		font-size:1.7em;
		text-align:left;
		transition: font-size .2s;
	}
	
	#s1h2{
		font-size:1.7em;
		text-align:left;
		transition: font-size .2s;
	}
	
	#s1p1 {
		font-size: .8em;
		transition: font-size .2s;
	}
	
	#arrow-blue{
		right:-34px;
	}
	
	#s3{
		height:500px;
	}
	
	#s3row {
		margin: 15px;
		text-align: left;
	}
	#arrow-orange{
		right:-34px;
	}
	#s3 .s3-text {
		font-size: .8em;
	}
	#s4 {
		height: 400px;
	}
	
		
	#s5 span {
		font-size: 1.5em;
	}
}
	


@media screen and (max-width:350px){
	#s1h1 {
		font-size: 1.5em;
	}
	#s1h2 {
		font-size: 1.5em;
	}


}